body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
}

@keyframes shake {
    0% {transform: rotate(0);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(0);}
    
}

button {
    animation: shake 1s ease-in-out;
}